/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: geometricPrecision;
}

img {
    display: inline;
    width: 100%;
    height: 100%;
}

/* GENERAL STRUCTURE */

html {
    font-size: 14px;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    font-kerning: auto;
    cursor: none;
    transition: all .4s ease;
    background-color: #FFF848;
    color: black;
    position: relative;
    overflow: hidden;
}

.noscroll {
    overflow: hidden;
    position: fixed;
}

#c {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

@media (max-width: 1240px) {
    .container {
        margin: 0 2rem;
    }
}

.fit {
    max-width: 700px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    html {
        font-size: 9px;
    }

    .container {
        margin: 0 1rem;
    }

    .fit {
        margin: 0 30px;
    }
}

@media (max-width: 640px) {
    .fit {
        margin: 0 20px;
    }
}

.wrap {
    margin: 0 auto;
}

.flex {
    display: flex;
}

video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  outline:none !important;
}

/* TYPOGRAPHY */


h1 {
    font-weight: 400;
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

p,
a,
ul,
ol {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.9rem;
}

ol.clean, ul.clean {
  list-style-type: none;
}

strong {
    font-weight: 500;
}

.thin {
    font-weight: 300;
}

.caption {
    text-indent: 0 !important;
    font-family: Courier, monospace;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -.03rem;
    color: rgba(92, 90, 90, 1);
    transition: color .3s;
}

.caption.quote{
    text-align: right;
}

a.caption:hover {
    color: rgba(0, 0, 0, 0.9);
}

p:not(:first-child) {
    text-indent: 0rem;
}

p.clean {
    text-indent: 0rem !important;
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 1.0);
    cursor: none;
}


a.plainLink {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.0);
    text-decoration-skip: ink;
}

a:hover {
    color: blue;
    text-decoration-color: blue;

    /* opacity: 50%; */
}

sup {
    position: relative;
    top: -0.5em;
    margin-right: .3rem;

    font-size: 60%;
    line-height: 0;
    vertical-align: baseline;
}

.italic {
    font-style: italic;
}

.subtitle {
    color: #b4b4b4;
}

p + ol > li {
    margin-left: 5rem;
    line-height: 4rem;
}

ol.clean,
ul.clean {
    list-style-type: none;
}

pre {
    background: #efefef;
    border-radius: .5rem;
    padding-left: 3rem;
    margin-bottom: 4rem;
}

code {
    font-size: 1.5rem;
    color: #4d4d4d;
    background: #efefef;
    border-radius: .5rem;
}

/* Spacing */

.mbxs {
  margin-bottom: .5rem !important;
}

.mbs {
  margin-bottom: 1.5rem !important;
}

.mb {
  margin-bottom: 5rem !important;
}

.mbm {
  margin-bottom: 8rem !important;
}

.mbl {
  margin-bottom: 16rem !important;
}

.mbxl {
  margin-bottom: 27rem !important;
}

.phs {
  margin: 0 1rem;
}

.ph {
  margin: 0 2rem;
}

.phl {
  margin: 0 5rem;
}

article{
    display: block;
}

p ~ section {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.processGrid{
    height: 100%;
    margin: 0 auto;
}

.screenGrid{
    height: 50%;
}

.projectBlock {
  border: 0;
  vertical-align: baseline;
  height: 100%;
  display: inline-block;
}

.projectBlock .short{
    height: 600px;
}

.projectBlock figure:not(:last-child) {
  border-right: 6px solid transparent;
}

.projectBlock figure:not(:first-child) {
  border-left: 6px solid transparent;
}

.projectBlock figure {
  display: block;
  box-sizing: border-box;
  float: left;
  margin-bottom: 12px;
  overflow: hidden;
}

@media (max-width: 720px){
  .projectBlock figure {
    margin-bottom: 6px;
  }
}

.full {
  width: 100%;
  border: none !important;
}

.threeQuarter {
  width: 75%;
}

.twoThird {
  width: calc(200% / 3);
}

.half {
  width: 50%;
}

.third {
  width: calc(100% / 3);
}

.quarter {
  width: 25%;
}

@media (max-width: 640px){
  .projectBlock figure:not(:last-child) {
    border-right: none;
  }

  .projectBlock figure:not(:first-child) {
    border-left: none;
  }

  .threeQuarter {
    width: 100%;
  }

  .twoThird {
    width: 100%;
  }

  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .quarter {
    width: 100%;
  }
}

.screen{
    border-radius: 15px;
/*
    padding-left: 5rem;
    padding-right: 5rem;
*/
}

.projectElement img {
  width: 100%;
  object-fit: cover;
}

.projectElement .short {
  max-height: 200px;
}

.projectElement .tall {
  max-height: 620px;
}


/* CURSOR */

#cursor {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    mix-blend-mode: difference;
    background-color: #fff;
    backface-visibility: hidden;
    transition: width 0.2s, height 0.2s, transform 0.2s;
    z-index: 1000;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.zoom {
    width: 50px !important;
    height: 50px !important;
}

.hide {
    display: none;
}

@media (hover:hover) {

    #cursor,
    .zoom {
        display: block;
    }
}


/* COLOR CHANGE */

.lightBG {
    background-color: #ffffff !important;
    transition: 0.3s all;
}

.lightText {
    color: black !important;
}


/* NAVIGATION */

.nav {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: 'Inter', Helvetica, sans-serif;
    margin-top: 3.5rem;
    z-index: 99999999;
    mix-blend-mode: exclusion;
}

.nav-logo {
    font-family: 'Inter', Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    z-index: 999;
    text-decoration: none;
    line-height: 0rem;
}

.nav-menu-item {
    padding-left: 2.1875vw;
}

.nav-menu-item a {
    text-decoration: none;
    color: white;
    transition: all .5s cubic-bezier(0, 1.07, .89, .99);
    outline: 0;
    border: none;
    font-family: 'Inter', Helvetica, sans-serif;
    background: none;
}

.nav-menu-item a:hover {

    cursor: none;
}

.back-arrow{
    width: 3rem;
    height: 1rem;
    transform: scale(1.5);
/*    mix-blend-mode: difference;*/
    transition: ease-in-out 3s;
    position: relative;

}

.back-arrow svg{
    stroke: #fff;
    fill: none;
    height: 100%;
    width: 100%;
    transition:width 2s ease;
    overflow: visible;
}

/*
.back-arrow svg:hover{
    transform: scale(1.5);
}
*/

#back-line{
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

.back-arrow svg:hover > #back-line{
    transform: scaleX(1.5);
}

.hover-effect li {
    overflow: hidden;
    height: auto;
    /*    padding: 0 4px;*/
    margin-left: 2.1875vw;
}

.hover-effect li a {
    position: relative;
    display: inline-block;
    line-height: 1.5rem;
    transition: transform .5s cubic-bezier(0, 1.07, .89, .99);
    font-size: 1rem;
}

.hover-effect li a:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translateZ(0);
}

.hover-effect li:focus a,
.hover-effect li:hover a {
    transform: translateY(-100%);
}


@media (min-width: 320px) and (max-width: 700px) {

    .nav-logo {
        font-size: 2rem;
        color: black;
    }

    .nav-menu {
        display: none;
    }
    
    .nav{
        mix-blend-mode: normal;
    }

}

/* RESPONSIVE BURGER MENU */
.burger_menu {
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    z-index: 100;
    transition: opacity .25s ease;
    background: none;

}

.burger_menu:hover {
    opacity: 80%;
}

.burger_menu-top {
    top: 0;
    width: 24px;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
    transform: translateZ(0);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
}

.burger_menu.active .burger_menu-top {
    transform: translateY(0px) translateX(0px) rotate(45deg);
}

.burger_menu-bottom {
    bottom: 0;
    width: 20px;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
    transform: translateZ(0);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
}

.burger_menu.active .burger_menu-bottom {
    width: 24px;
    transform: translateY(-9px) translateX(0px) rotate(-45deg);
}

.darkmode {
    background-color: #fff !important;
}

@media (min-width: 700px) {

    .burger_menu {
        display: none;
    }

}

.overlay {
    position: fixed;
    background: #F84B27;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: slideTextUp .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}

.overlay-menu {
    position: fixed;
    /* transform: translateY(-50%); */
    text-align: left;
    top: 60vh;
    left: 5vw;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    line-height: 110%;
}

.overlay ul li {
    display: block;
    min-height: 50px;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 9rem;
    line-height: 100%;
    font-weight: bold;
}

@keyframes slideTextUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(100%);
    }
}


/* INTRO HERO */

.hero {
    height: 100%;
    min-height: 580px;
    align-items: center;
    color: #000000;

}

.hero-wrapper {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    min-height: 300px;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.hero-stickers {
    position: absolute;          /* Allows positioning within the hero-section */
    right: -200px;                 /* Adjust right position */
    width: 90vw;                /* Set the desired image width */
    height: auto;                /* Maintain aspect ratio */
    z-index: 1;                  /* Ensure it appears on top of other content */
}

.sticker-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.hero-circle {
    position: absolute;
    width: 30vw;
    height: auto;
    z-index: 1;
    top: 15vh;
    right: 35%;
    z-index: 3;
    animation: rotate 30s infinite linear;
}

.hero-circle:hover {
    transform: scale(1.1);
}

.hero-triangle {
    position: absolute;
    width: 30vw;
    height: auto;
    top: 27vh;
    right: 15%;
    z-index: 2;
    transform:rotate(-8deg);
    transition: transform .7s cubic-bezier(0.2, 0.0, 0, 1.0);
}

.hero-triangle:hover {
    transform:rotate(-20deg)  scale(1.1);
}

.hero-initial {
    position: absolute;
    width: 40vw;
    height: auto;
    z-index: 1;
    top: 17vh;
    right: -12%;
    transform: rotate(13deg);
    transition: transform .7s cubic-bezier(0.2, 0.0, 0, 1.0);
}

.hero-initial:hover {
    transform: rotate(20deg) scale(1.1);
}

.hero-headline {
    height: auto;
    width: 100%;
    white-space: nowrap;
    overflow-wrap: break-word;
    text-align: justify;
}

.hero-name {
    /* font-size: 12rem; */
    font-size: 12.5vw;
    line-height: 1.05;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.hero-accent {
    display: inline-block; 
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-text {
    font-family: "IBM Plex Mono", Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    transition: transform .5s cubic-bezier(0, 1.07, .89, .99);
    transition: all .4s ease;
    font-size: 8rem;
    line-height: 10rem;
}

.hero-avatar {
    width: 25vw;
    position: absolute;
}

.hero-arrow {
    align-items: flex-end;
}

.hero-arrow-svg {
    height: 8rem;
    fill: black;
    transform-origin: bottom;
    transition: transform 0.2s ease;
}

.hero-arrow-svg:hover{
    transform: scaleY(1.1);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .hero-arrow {
        display: none;
    }

    .hero-wrapper {
        /* align-items: center; */
    }

    .hero-text {
        font-size: 5rem;
        line-height: 6rem
    }

    .hero-circle {
        width: 80vw;
        top: 5vh;
        right: -12%;

    }

    .hero-triangle {
        width: 80vw;
        top: 28vh;
        right: 25%;
    }

    .hero-initial {
        width: 90vw;
        top: 60vh;
        right: -5%s
    }
}


 /* LARGE SCREENS ONLY */
@media only screen and (min-device-width : 1440px) {
    .hero-name {
        font-size: 10vw;
    }
}


/* ABOUT ME */

.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 20.15vw;
    padding-bottom: 15.055vw;
    color: white;
}

.about .intro {
    -webkit-flex: 2 1 60%;
    -moz-box-flex: 2;
    flex: 2 1 60%;
}

.about .links {
    flex: 1 1 40%;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
}

.about .links-list {
    list-style: none;
    font-size: 2rem;
}

.about .links-list ul {
    margin-top: 10px;
    line-height: 2rem;
}

.about-paragraph {
    font-size: 1.9rem;
}

.about-secondary {
    margin-top: 2vw;
    font-size: 1.3rem;
    color: grey;
    line-height: 1.9rem;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .about {
        flex-direction: column;
        padding: 1rem;
        margin-top: 5rem;
    }

    .about .links {
        padding-left: 0px;
        text-align: right;
        margin-left: 0;
        margin-top: 25px;
    }

    .about .links-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}

/* WORK GALLERY*/

.work-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8rem;
    /*padding: 5rem;*/

    color: white;

}

.div1 {
    color: white;
    grid-area: 1 / 1 / 3 / 3;
    width: 80%;
    background: OrangeRed;
    height: 15rem;
    background-image: url(../media/patch.svg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.div1:hover {
    background-size: 73%;
}

.div2 {
    color: white;
    background: black;
    grid-area: 1 / 3 / 1 / 6;
    height: 30rem;
    background-image: url(../media/balance.jpg);
    background-position: center;
    background-size: 130%;
    background-repeat: repeat;
    transition: all .3s ease-in-out;
}

.div2:hover {
    background-size: 120%;
}

.div4 {
    color: white;
    grid-area: 2 / 1 / 2 / 3;
    background: #1f1f1f;
    height: 30rem;
    background-image: url(../media/animation/creation-of-adam.jpg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.div4:hover {
    background-size: 110%;
}

.div5 {
    color: white;
    grid-area: 2 / 3 / 2 / 5;
    background: black;
    height: 15rem;
    width: 80%;
    justify-self: end;
    transition: all .3s ease-in-out;
}

.div5:hover {
    background-size: 90%;
}

.div6 {
    color: white;
    grid-area: 3 / 1 / 3 / 3;
    width: 80%;
    background: OrangeRed;
    height: 15rem;
    background-image: url(../media/patch.svg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.div6:hover {
    background-size: 80%;
}

.div7 {
    color: white;
    background: black;
    grid-area: 3 / 3 / 3 / 6;
    height: 30rem;
    background-image: url(../media/balance.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.work-description {
    position: relative;
    height: 100%;
}

.work-description p {
    position: absolute;
    bottom: 0;
    margin-bottom: -3rem;
    color: #afafaf;
    font-size: 0.9rem;
    text-transform: capitalize
}

.grid-item:hover {
    opacity: 0.9;
}

.grid-item:hover .work-description p {
    text-decoration: underline;
    transition: opacity .25s;
}

@media only screen and (min-width : 480px) and (max-width : 700px) {
    .work-grid {
        margin-top: 20vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 3vw;
    }

    .div1 {
        grid-area: 1 / 1 / 1 / 1;
        width: 100%;
        height: 30rem;
    }

    .div2 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .div5 {
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
        height: 30rem;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .work-description p {
        margin-bottom: -4rem;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .work-grid {
        padding: 0rem;
        margin-top: 20vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .div1 {
        grid-area: 1 / 1 / 1 / 1;
        width: 100%;
        height: 30rem;
    }

    .div2 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .div5 {
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
        height: 30rem;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .work-description p {
        margin-bottom: -4rem;
        font-size: 1.5rem;
    }
}

.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 20.15vw;
    padding-bottom: 15.055vw;
    color: black;
    margin-bottom: 5vw;
}

.contact-description {
    flex: 1 1 40%;
}

.contact-links {
    flex: 2 1 60%;
    text-align: right;
}

/*Footer*/

.footer {
    /*  position: fixed;*/
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.footer ul{
    margin-left: auto;
}

.footer li{
    margin-left: 5rem;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*Project Pages*/

.banner {
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
}

.bannerWrapper{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.foreground {
    z-index: 1;
    position: relative;
    height: auto;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.project-header{
    margin-top: 12rem;
    margin-bottom: 9rem;
}

.caption{
    text-indent: 0 !important;
    font-family: Courier, monospace;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -.03rem;
    color: rgba(92, 90, 90, 1);
    transition: color .3s;
}

.videoWrapper {
    position: relative;
    padding-bottom: 55%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}


/*Evolutionary Design Systems*/
.evolutionary{
    background-color: white !important;
}

.evolutionary main{
    background-color: white !important;
}

.evolutionary .banner{
    background-color: orangered;
}

.evolutionary .banner svg{
    width: 50%;
}

#patch-animation{
    stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 5s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.evolutionary .foreground{
    background-color: white;
}

/*Balance Project*/
.balance{
    background-color: white !important;
}

.balance main{
    background-color: white !important;
}

.balance .banner{
    background-image: url('../media/balance/mockup.jpg');
    background-position: 50% 50%;
}

.balance .foreground{
    background-color: white;
}

/*Animation projects*/
.animation{
    background-color: black !important;
    color: white;
    cursor:auto;
}

.animation a{
    cursor: pointer;
}
.animation .foreground{
    background-color: black;
}
.animation .banner{
    background-image: url('../media/animation/creation-of-adam.jpg');
    background-position: 50% 50%;
}

/*Interactive III Project*/
.interactive{
    background-color: white !important;
    cursor: auto;
}

.interactive a{
    cursor: pointer;
}

.interactive main{
    background-color: white !important;
}

.interactive .banner{
    background-image: url('../media/interactive/button.gif');
    background-position: 50% 50%;
}

.interactive .foreground{
    background-color: white;
}